@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Staatliches:100,200,300,400,500,600,700');

body {
    background-color: #616161
}

/*----------------------------------------Heading*/

.navbar {
    font-family: "Staatliches", sans-serif;
    font-weight: 700;
    font-size: 20px;
    
}

.nav-item {
    padding-right: 15px;
}



/*----------------------------------------Picture section*/

.img-fluid {
   padding: 0px!important;
   
}

.title {
     position: relative;
}

.image-title {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
}

.text-center {
    font-family: "Staatliches", sans-serif;
    font-weight: 600;
    color: #ffffff;
}

/*----------------------------------------Band Name section*/

.second-heading p {
    font-family: "Roboto" sans-serif;
    font-weight: 300;
}

.jumbotron {
    background-color: #d32f2f
}