@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700|Staatliches:100,200,300,400,500,600,700');

/*----------------------------------------Heading*/

.navbar {
    font-family: "Staatliches", sans-serif;
    font-weight: 700;
    font-size: 20px;
    
}

.nav-item {
    padding-right: 15px;
}



/*----------------------------------------Picture section*/

.img-fluid {
   padding: 0px!important;
   width: 100%;
}

.title {
     position: relative;
}

.image-title {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
}

.text-center {
    font-family: "Staatliches", sans-serif;
    font-weight: 600;
    color: #ffffff;
}